body { 
    font-family: monospace; 
    background: #f4f4f4; 
    padding: 20px; 
}

textarea { 
    width: 100%; 
    font-family: monospace; 
}

#output, #env { 
    background: #fff; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-top: 10px; 
    white-space: pre-wrap; 
}
